#home-feed-scroller{
    overflow-y: scroll;
    overflow-x: hidden;
    height: fit-content;
    width: 100%;
    max-height: 80dvh;
}
.infinite-scroll{
    height: 80dvh!important;
    width: 100%;
}
#home-feed-scroller::-webkit-scrollbar{
    display: none;
}
#home-feed{
    flex: 1;
}
@media (max-width:768px) {
    #home-feed-scroller{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 90dvh;
        padding-bottom: 15em;
    }
    #feed-covered-message{
        flex-direction: column-reverse;
    }
}