#home-feed-scroller{
    overflow-y: scroll;
    overflow-x: hidden;
    height: fit-content;
    width: 75dvw;
    max-height: 90dvh;
}
#home-feed-scroller::-webkit-scrollbar{
    display: none!important;
}
#home-feed{
    flex: 1;
}
.gZmPOF{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:768px) {
    #home-feed-scroller{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 90dvh;
        padding-bottom: 15em;
    }
    #feed-covered-message{
        flex-direction: column-reverse;
    }
}