#explore-feed-scroller{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90dvh;
    padding-bottom: 5em;
    width: 100%;
}
#explore-feed-scroller::-webkit-scrollbar{
    display: none;
}
.single-feed{
    width: 33%;
}
#explore-feed{
    flex: 1;
}
.text-post-preview{
    width:100%;
    height: fit-content;
}
.img-post-preview{
    width: 100%;
}
@media (max-width:768px) {
    #explore-feed-scroller{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 90dvh;
        padding-bottom: 15em;
    }
    #feed-covered-message{
        flex-direction: column-reverse;
    }
}