.community-aside{
    height: 90dvh;
    width: fit-content;
    max-width: 25dvw;
}
.community-dp img{
    width: 5dvw!important;
    height: 5dvw!important;
}
.community-cover{
    width: 20dvw!important;
    aspect-ratio: 16/9;
    height: 10dvw;
}
.community-description{
    width: 100%;
}
.community-input{
    border-bottom: thin solid #fff;
}