.community-aside{
    height: 90dvh;
    width: fit-content;
    max-width: 25dvw;
}
.community-dp img{
    width: 5dvw!important;
    height: 5dvw!important;
}
.community-cover img{
    height: 25dvh!important;
}
.community-description{
    width: 100%;
}
.community-input{
    border-bottom: thin solid #fff;
}