#profile-info-container{
    height: 100%;
}
#profile-sidebar{
    height: 90dvh;
    width: 60dvw;
    flex-wrap: wrap;
    overflow-x: hidden;
    resize: horizontal;
    
}

@media (max-width:768px) {
    #profile-dp-container{
        width: 100%;
    }
    #profile-sidebar{
        height: 100dvh;
        width: 100%;
        flex-wrap: wrap;
    }
    #profile-dp-container img{
        width: 25dvw;
    }
}