#search-section{
    width: 70%;
    height: 90dvh;
    padding: 2%;
}
#search-scroller{
    height: 90dvh;
    overflow-y: scroll;
    flex: 1;
}
.preview-cover-pic{
    width: 20dvw;
    aspect-ratio: 16/9;
}
.preview-dp-pic{
    width: 5dvw;
    aspect-ratio: 1/1;
}
.community-card{
    width: fit-content;
    max-width: 20dvw;
}