#privacy {
    height: 90vh;
    width: 100vw;
    background-image: url(../../assets/security.svg);
    background-size: contain; /* You can use 'cover', 'contain', or specific dimensions */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-position: center; /* Centers the image horizontally and vertically */
    filter: blur(2px);
}