#privacy {
    height: 90dvh;
    width: 100vw;
}
#policy-container{
    width: 70dvw;
    height: 60dvh;
}
.privacy-card{
    height: fit-content;
    padding: 2%;
    border: thin solid #c0c0c0;
    margin: 1%;
}
@media (max-width:768px) {
    #policy-container{
        flex-direction: column;
    }
    #policy-container div{
        width: 80dvw;
    }
}