#header-nav-links{
    width: 45dvw;
    
}
#header{
    height: 10dvh;
    z-index: 500;
}
.the-menu-head{
    z-index: 1000!important;
}
.notification-tab{
    height: fit-content;
    max-height: 25dvh;
    overflow-y: scroll;
}