.post-time-stamp{
    font-size: 0.3em;
}
.comment-box{
    min-width: 10dvw;
}
.comment-box-dp{
    min-height: 2dvw;
    min-width: 2dvw;
}
@media (max-width:768px) {
    .comment-box-dp{
        min-height: 8dvw;
        min-width: 8dvw;
    }
}