#image-post{
    width: 40dvw;
    height: fit-content;
}
#post-data{
    width: 40dvw;
    height: fit-content;
    overflow: hidden;
}
#post-data img{
    height: fit-content;
    max-height: 40dvh;
}
#image-post{
    width: 40dvw;
}
#post-meta-data{
    width: 100%;
}
#metric-btn{
    background-color: rgb(193, 190, 190);
}
#comment-input{
    background-color: rgba(193, 190, 190, 0.8);
    width: 50%;
    height: fit-content;
}
#post-metrics{
    width: 100%;
}
#text-post{
    width: 40dvw;
    height: fit-content;
}
@media (max-width:768px) {
    #image-post{
        width: 95dvw;
        height: fit-content;
    }
    #post-data{
        width: 95dvw;
        height: fit-content;
        overflow: hidden;
    }
    #post-data img{
        width: 95dvw;
        height: fit-content;
        overflow: hidden;
    }
    #image-post{
        width: 95dvw!important;
    }
    #text-post{
        width: 95dvw!important;
        height: fit-content;
    }
}