#image-post{
    width: 40dvw;
    height: fit-content;
}
#post-data{
    width: 40dvw;
    height: fit-content;
    overflow: hidden;
}
#image-post{
    width: 40dvw;
}
#post-meta-data{
    width: 100%;
}
#metric-btn{
    background-color: rgb(193, 190, 190);
}
#post-metrics{
    width: 100%;
}
#text-post{
    width: 40dvw;
    height: fit-content;
}
@media (max-width:768px) {
    #image-post{
        width: 90dvw;
        height: fit-content;
    }
    #post-data{
        width: 90dvw;
        height: fit-content;
        overflow: hidden;
    }
    #image-post{
        width: 90dvw;
    }
    #text-post{
        width: 90dvw;
        height: fit-content;
    }
}